ul.a {
list-style-type: circle;
}
ul.b{
    list-style-type:square ;
    list-style-position:inside ;
}
ol.c{
    list-style-type: upper-roman;

}
ol.d{
    list-style-image:url("RF-813062534_740x492.jpg") ;
}