/* h1{
    color:green ;
    background-color: lightgray;
}
div {
    border: 1px solid;
    padding:10px ;
    width: 250px;
    height: 250px;
    background-color: cadetblue;
    text-align: justify;
    text-align-last:left ;
}
div img{
    vertical-align:text-top ;

} */
/* <sub>->vertical-align:sub;font-size:smaller; */
/* <sub>->vartical-align:super;font-size:smaller; */

/* h1 {
    text-decoration-line:overline ;
    text-decoration-color: red;
    text-decoration-style:double ;
    text-decoration-thickness: 5px;
}
h2 {
    text-decoration-line:line-through ;
    text-decoration-color:blue ;
    text-decoration-style: dotted;
    text-decoration-thickness:50%;
} */
/*  aynısı */
/* h2{
    text-decoration: line-through blue dotted 50%;
} */

/* <del>->text-decoretion:line-thrugh */

/* <ins>->text-decoretion:underıine */

/* h3{
    text-decoration-line: underline;
    text-decoration-style:wavy ;
} */
/* h1 {
    text-transform: uppercase;
}
h2{
  text-transform: lowercase;  
}
div {
text-transform:capitalize ;
} */
/* div{
    text-indent:20px ;
}
div{
   letter-spacing: 5px; 
}
div{
  line-height: 1.8;  
}
div{
  word-spacing:15px ;  
} */
/* div{
   white-space:nowrap ; 
} */
/* h1{
text-shadow:2px 2px 5px blue ;
}
h1{
text-shadow: 1px 1px 2px black,0 0 25px red, 0 0 5px darkblue;
} */
/* span{
    writing-mode: vertical-lr;color: red;
    text-align: left;
    height: 100px;
} */
